/* Variables */
:root {
    --red-color: #F23207;
    --main-color: #F2E1C2;
    --popup-font-color: #262526;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url(./ofont.ru_Bebas\ Neue.ttf);
}

button {
  border: none;
  outline: none;
  box-shadow: none;
}


*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--main-color);
    /* border: 1px solid yellowgreen; */
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  background-image: url('img/background.jpg');
}



.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}


.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.header__logo {
    z-index: 1;
}

.header__nav {
    display: flex;
    align-items: center;
}


.header__nav-list {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

.header__nav-item {
    margin-left: 30px;
}

.header__nav-link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.header__nav-link:hover {
    color: var(--red-color);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;


    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #262526;


    border: none;
    border-radius: 4px;
    background: var(--f-2-e-1-c-2, #F2E1C2);

}

.header__button:hover {
    background: var(--f-23207, #F23207);
    color: var(--main-color);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* ===== Burger ===== */

.header__burger {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    display: none;
  }
  
  .bar {
    background-color: var(--main-color);
    height: 3px;
    width: 100%;
    transition: 0.4s;
  }
  
  .header__burger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  
  .header__burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .header__burger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -6px);
  }



  


/* ===== MEDIA ====== */
  @media (max-width: 897px) {
    
    .header__burger {
        display: flex;
        align-items: center;
    }

    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #262526;
        transition: left 0.4s;
        overflow: hidden;
    }

    .header__nav.active {
        left: 0px;
    }

    .header__nav.active {
        animation: slide-in 0.4s ease;
      }
      
      @keyframes slide-in {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0);
        }
      }
    
  }

  @media (max-width: 785px) {
    .header__nav {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 150px;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 20px;
    }

    .header__button {
        margin-top: 30px;
        margin-left: 25px;
    }
  }





  /* ===== MAIN ====== */


  .main__wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 121px;
  }

  .text {
    padding-top: 10px;
  }

  .deco {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .welcome-text {
    
    color: var(--f-23207, #F23207);
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;

    margin-left: 25px;

    opacity: 0;
    transition: opacity 0.5s ease-in;
  }

  

  .video__text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video__title {

    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 715.255px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -10.729px;

    padding-top: 8px;


    opacity: 0;
    transition: opacity 0.5s ;
  }

  

  .video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    min-width: 374px;
    mix-blend-mode: multiply;

    opacity: 0;
  }

  /* FIXME: не работает autoplay на мобильных устройствах */


  /* ===== MEDIA ====== */

  @media (max-width: 1200px) {
    .video__title {
      font-size: 650px;
    }
  }

  @media (max-width: 1110px) {
    .video__title {
      font-size: 600px;
    }
  }


  @media (max-width: 1020px) {
    .video__title {
      font-size: 550px;
    }
  }
  
  @media (max-width: 935px) {
    .video__title {
      font-size: 450px;
    }

    .welcome-text {
      margin-left: 10px;
    }


  }

  

  @media (max-width: 770px) {
    .video__title {
      font-size: 240px;
    }

    .welcome-text {
      font-size: 24px;
    }

    .video {
      display: none;
    }

    .video__title {
      color: var(--main-color);
    }
  }


  /* FIXME: костыль!!! из за видео */
  @media (max-width: 420px) {
    .welcome-text {
      font-size: 18px;
    }

    .video__title {
      font-size: 200px;
    }
  }


  .popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vw;
    background-color: var(--main-color);
    z-index: 5;
    color: var(--popup-font-color);
  }


  .popup__wrapper {
    padding-top: 100px;
    position: relative;
  }

  .popup__title {
    color: var(--popup-font-color);
    font-family: Bebas Neue;
    font-size: 114px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.85px;
    text-transform: uppercase; 
  }

  .popup__form {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  .input {
    border-bottom: 2px solid var(--popup-font-color);
    width: 378px;
  }

  .form__title {
    color: var(--popup-font-color);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }

  input {
    border: none;
    color: var(--popup-font-color);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background-color: inherit;
    margin-bottom: 10px;
  }

  input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  nput::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.input__button {
  position: absolute;
  right: 0;

  width: 380px;
  height: 40px;
  margin-top: 60px;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;

  background-color: var(--popup-font-color);
}


.exit__button {
  position: absolute;
  top: 100px;
  right: 0;
  border: none;
}


@media (max-width: 1190px) {
  .input {
    width: 300px;
  }
  
}

@media (max-width: 1072px) {
  .popup {
    height: 85vw;
  }
  
}

@media (max-width: 950px) {
  .input {
    width: 250px;
  }

  .input__button {
    left: 50%;
    transform: translateX(-50%);
  }

  .popup {
    height: 90vw;
  }
}

@media (max-width: 890px) {
  .popup {
    height: 95vw;
  }
  
}

@media (max-width: 845px) {
  .popup {
    height: 100vw;
  }
}

@media (max-width: 800px) {
  .popup {
    height: 110vw;
  }

  .popup__form {
    padding-top: 50px;
    flex-direction: column;
    gap: 20px
  }

  .input__button {
    left: 0;
    transform: translateX(0);
    width: 250px;
  }
}

@media (max-width: 845px) {
  .popup {
    height: 120vw;
  }
}

@media (max-width: 668px) {
  .popup {
    height: 130vw;
  }
  .popup__title {
    font-size: 80px;
  }
}

@media (max-width: 620px) {
  .popup {
    height: 150vw;
  }
}

@media (max-width: 530px) {
  .popup {
    height: 170vw;
  }
  .popup__title {
    font-size: 60px;
  }
}

@media (max-width: 475px) {
  .popup {
    height: 200vw;
  }
}

@media (max-width: 410px) {

  .popup {
    height: 230vw;
  }

  .popup__title {
    font-size: 50px;
  }
}





  

